{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lista de Usuarios{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% block content %}

    <header class="title-container">
        <h1 class="mt-4">Lista de Usuarios</h1>
        <nav class="mb-4">
            <ul>
                <li><a class="btn btn-primary" href="{{ url_for('user.create') }}">Crear Usuario</a></li>
            </ul>
        </nav>
    </header>
    <main class="container"> 

        <section id="filtros" class="mb-4">
            <h2>Filtrar Usuarios</h2>
            <form action="{{ url_for('user.index') }}" method="GET" class="row g-3">
                <div class="col-md-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ request.args.get('email', '') }}" aria-label="Email del usuario">
                </div>

                <div class="col-md-3">
                    <label for="activo" class="form-label">Activo:</label>
                    <select id="activo" name="activo" class="form-select" aria-label="Estado de usuario activo">
                        <option value="">-- Seleccione --</option>
                        <option value="True" {% if request.args.get('activo') == 'True' %}selected{% endif %}>Sí</option>
                        <option value="False" {% if request.args.get('activo') == 'False' %}selected{% endif %}>No</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="rol" class="form-label">Rol:</label>
                    <select id="rol" name="rol" class="form-select" aria-label="Rol del usuario">
                        <option value="">-- Seleccione --</option>
                        {% for rol in roles %}
                            <option value="{{ rol.nombre }}" {% if request.args.get('rol') == rol.nombre %}selected{% endif %}>{{ rol.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="ordenar_por" class="form-label">Ordenar por:</label>
                    <select id="ordenar_por" name="ordenar_por" class="form-select" aria-label="Opciones de ordenación">
                        <option value="email" {% if request.args.get('ordenar_por') == "email" %}selected{% endif %}>Email</option>
                        <option value="nombre" {% if request.args.get('ordenar_por') == 'nombre' %}selected{% endif %}>Nombre</option>
                        <option value="apellido" {% if request.args.get('ordenar_por') == 'apellido' %}selected{% endif %}>Apellido</option>
                        <option value="fecha_creacion" {% if request.args.get('ordenar_por') == 'fecha_creacion' %}selected{% endif %}>Fecha de creación</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="orden" class="form-label">Orden:</label>
                    <select id="orden" name="orden" class="form-select" aria-label="Orden de los resultados">
                        <option value="asc" {% if request.args.get('orden') == 'asc' %}selected{% endif %}>Ascendente</option>
                        <option value="desc" {% if request.args.get('orden') == 'desc' %}selected{% endif %}>Descendente</option>
                    </select>
                </div>

                <div class="col-auto" style="margin-top: 3rem;">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </section>

        <table class="table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Rol</th>
                    <th>Activo</th>
                    <th>registroAprobado</th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr id="user-{{ user.id }}">
                    <td>{{ user.role.nombre }}</td>
                    <td>{{ "✔️" if user.activo else "❌" }}</td>
                    <td>{{ "✔️" if user.registroAprobado else "❌" }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.alias }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.registroAprobado %}
                            <a href="{{ url_for('user.show', user_id=user.id) }}" class="btn btn-info btn-sm">Ver</a> 
                            <a href="{{ url_for('user.update', user_id=user.id) }}" class="btn btn-primary btn-sm">Editar</a>  
                        {% endif %}
                        {% if not user.registroAprobado %}
                            <form action="{{ url_for('user.completar_registro', user_id=user.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-success btn-sm">Completar Registro</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Anterior</span>
                    </li>
                {% endif %}
                
                {% if start > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">1</a>
                    </li>
                    {% if start > 2 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endif %}
                
                {% for p in range(start, end + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endfor %}
                
                {% if end < total_pages %}
                    {% if end < total_pages - 1 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ total_pages }}">{{ total_pages }}</a>
                    </li>
                {% endif %}
                
                {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div> 
    </main>
    {% endblock %}
</body>
</html>
