<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Error{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='error.css') }}" />
    {% endblock %}
</head>
<body>

    <div class="error-container">
        <div class="error-code">Error {{ error.code }}</div>
        <div class="error-message">{{ error.name }}</div>
        <div class="error-details">{{ error.description }}</div>
        <div class="link-containg">
            <a href="{{ url_for('home') }}" class="more-link">Volver a la página principal</a>
        </div>
    </div>

</body>
</html>