{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="jumbotron text-center bg-light p-5 rounded">
            <h1 class="display-4">Bienvenido a CEDICA</h1>
        </div>
    </div>
    </div>
    <div class="container my-5">
        <div class="card text-center p-4">
            <blockquote class="blockquote">
                <p>"CEDICA ha simplificado nuestras tareas administrativas. Es el mejor sistema que hemos implementado."</p>
                <footer class="blockquote-footer">Admin de CEDICA</footer>
            </blockquote>
        </div>
    </div>
   
{% endblock %}