{% extends "layout.html" %}

{% block title %}Crear Consulta{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Crear Consulta</h1>
    <form method="post" action="{{ url_for('contactos.create') }}">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo:</label>
            <input type="email" name="correo" id="correo" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea name="mensaje" id="mensaje" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
{% endblock %}
