@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: black(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
    background-color: beige;
    color: black;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
:root {
  --primary-color: #007acc;
  --secondary-color: #003366;
  --background-color: #f9f9f9;
  --text-color: #444;
  --heading-color: #003366;
}

body {
  font-family: 'Arial', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.about-us h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--heading-color);
}

.about-text {
  background-color: #f9f9f9;
  border-left: 4px solid var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  font-family: 'Georgia', serif;
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
